[notifier]
# Feed pulling interval in sec
interval = 60

[feed]
q = "django"
budget = "0-100"
sort = "recency"
job_type = "fixed"
# job_type = "hourly,fixed"
paging = "0;10"
# duration_v3 = "week"
contractor_tier = "1,2"
api_params = 1
securityToken = "xxx"
userUid = "xxx"
orgUid = "xxx"

[bot]
token = "xxx"

[sentry]
key = "xxx"
